<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item *ngFor="let info of lista" [routerLink]="['detalhe/']+info.id" routerLinkActive="router-link-active"  >
      <ion-thumbnail>
        <img [src]="info.avatar" alt="Image">
      </ion-thumbnail>
      <div>
        <h4>{{info.first_name+' '+info.last_name}}</h4>
        <p>{{info.email}}</p>
      </div>
      <ion-badge color="dark" slot="end">
        ID: {{info.id}}
      </ion-badge>
    </ion-item>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark" class="ion-text-center">
    <ion-buttons  slot="start" *ngIf="pagina>1">
      <ion-button (click)="listarOff( pagina - 1)">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <span> Pagina: {{pagina}} de {{totalPagina}} </span>
    <ion-buttons slot="end" *ngIf="pagina<totalPagina">
      <ion-button (click)="listarOff( pagina + 1)">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
